<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

{% block meta %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style-override.css' %}" />
{% endblock %}

{% block content %}{% endblock %}

{% comment %}
<noscript>
    <style type="text/css">#forNoScript {display:none;}</style>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-warning marginTop30">
                    Javascript must be enabled to use this website.
                </div>
            </div>
        </div>
    </div>
</noscript>
{% endcomment %}

{% include 'main/footer.html' %}
