{% extends 'main/base.html' %}
{% block nav-allergies %} class="active"{% endblock %}

{% block content %}
<div class="container">
  <div class="well well-lg clearfix">
    <h1>Welcome to your {{ page_name }} page {{ patient.first_name }} </h1>
    
    <h3>Your recorded allergies:</h3>
    {% for i in allergies %}
    <ul>
    	<li><b>Alergy name:</b> {{ i.allergy_name }}
    	<li><b>Severity:</b> {{ i.severity }}
    	<li><b>Allergy description:</b> {{ i.allergy_description }}
    	<p>Allergy notes: {{ i.allergy_notes }}
    </ul>
    {% endfor %}
    
    
  </div>
</div>
{% endblock %}
