{% extends 'main/base.html' %}
{% block dashboard %} class="active"{% endblock %}

{% block content %}
<div class="container">
     <div class="well well-lg clearfix">
         <!-- Display and Center Page Heading -->
        <h1><p class="text-center">Welcome to your {{ page_name }}, {{ patient.first_name }}</p></h1>
        <div class="col-md-4 col-lg-4">
            <h3>Latest Appointment:</h3>
            {% if appts %}
                   <!-- Display the last item entered into array -->
                {% with appts|last as last_item %}
                    <p><b>Type:</b> {{ last_item.appointment_type }}</p>
                    <p><b>Description:</b> {{ last_item.appointment_description }}</p>
                    <p><b>Date:</b> {{ last_item.appointment_date }}</p>
                    <p><b>Notes:</b> {{ last_item.appointment_notes }}</p>
                    <p>-----------------------------------------------</p>
                {% endwith %}
            {% else %}
              <p>You currently have no scheduled appointments</p>
            {% endif %}


            <h3>Last recorded vitals</h3>
            {% if vitals %}
                <!-- Display the last item entered into array -->
                {% with vitals|last as last_item %}
                    <p><b>Height:</b> {{ last_item.height_inches }}</p>
                    <p><b>Weight:</b> {{ last_item.weight_pounds }}</p>
                    <p><b>BP:</b> {{ last_item.bp_sys }}/{{ last_item.bp_dias }}</p>
                    <p><b>Pulse:</b> {{ last_item.pulse }}</p>
                    <p><b>Notes:</b> {{ last_item.vitals_notes }}</p>
                {% endwith %}
            {% else %}
              <p>You currently have no vitals on file</p>
            {% endif %}
           <a href="http://prohealthsys.com/site/resources/assessment/physical-assessment/vital-signs/vital_signs_table/">Table of normal vital ranges.</a>



        </div>
        <div class="col-md-4 col-lg-4">
        <!-- empty column -->
                    <h3>Latest Diagnostic Result:</h3>
            {% if diagnosticresults %}
                <!-- Display the last item entered into array -->
                {% with diagnosticresults|last as last_item %}
                    <p><b>Lab:</b> {{ last_item.lab_title }}</p>
                    <p><b>Date:</b> {{ last_item.lab_date }}</p>
                    <p><b>Description:</b> {{ last_item.lab_description }}</p>
                    <p><b>Notes:</b> {{ last_item.lab_notes }}</p>
                    <p>-----------------------------------------------</p>
                {% endwith %}
            {% else %}
                   <p>You currently have no diagnostic results on file.</p>
            {% endif %}

            <h3>Insurance Information:</h3>
            {% if insurance %}
                <!-- Display the last item entered into array -->
                {% with insurance|last as last_item %}
                    <p><b>Policy #:</b> {{ last_item.policy_num }}</p>
                    <p><b>Exp. Date:</b> {{ last_item.exp_date }}</p>
                    <p><b>Company Name:</b> {{ last_item.comp_name }}</p>
                    <p><b>Group Number:</b> {{ last_item.group_num }}</p>
                    <p>-----------------------------------------------</p>
                {% endwith %}
            {% else %}
                <p>You currently have no insurance policies on file.</p>
            {% endif %}

    {% comment %}
            <h3>Latest Medical History:</h3>
            {% if medicalHistory %}
                <!-- Display the last item entered into array -->
                {% with medicalHistory|last as last_item %}
                    <p><b>Name:</b> {{ last_item.history_item_name }}</p>
                    <p><b>Runs in Family:</b> {{ last_item.is_family_item }}</p>
                    <p><b>Date of diagnosis:</b> {{ last_item.history_item_date }}</p>
                    <p><b>Description:</b> {{ last_item.history_description }}</p>
                    <p><b>Notes:</b> {{ last_item.history_notes }}</p>
                    <p>-----------------------------------------------</p>
                {% endwith %}
            {% else %}
                <p>You currently have no medical history on file.</p>
            {% endif %}
    {% endcomment %}
        </div>
        <div class="col-md-4 col-lg-4">
            <h3>Current Medications:</h3>
            {% if medication %}
                <!-- Display all items in medication -->
                {% for i in medication reversed %}
                    <p><b>Medication:</b> {{ i.medication_name }}</p>
                    <p><b>Dosage:</b> {{ i.dosage }}</p>
                    <p><b>Description:</b> {{ i.medication_description }}</p>
                    <p><b>Notes:</b> {{ i.medication_notes }}</p>
                    <p>-----------------------------------------------</p>
                {% endfor %}
            {% else %}
                <p>You currently have no medications on file</p>
            {% endif %}

            <h3>Current Allergies:</h3>
            {% if allergies %}
                <!-- Display all items in allergies -->
                {% for i in allergies reversed %}
                    <p><b>Name:</b> {{ i.allergy_name }}</p>
                    <p><b>Severity:</b> {{ i.severity }}</p>
                    <p><b>Description:</b> {{ i.allergy_description }}</p>
                    <p><b>Notes:</b> {{ i.allergy_notes }}</p>
                    <p>-----------------------------------------------</p>
                {% endfor %}
            {% else %}
                <p>You currently have no allergies on file</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
