{% extends 'main/base.html' %}
{% block dashboard %} class="active"{% endblock %}

{% block content %}
<div class="container">
  <div class="well well-lg clearfix">
    <center><h1>Welcome to your {{ page_name }} {{ patient.first_name }} </h1></center>

	<div style="float:left;">
		<h3>Current Notes:</h3>
		Vitals: {{ vitals.vitals_notes }} <br />
		Medications: {{ medications.medication_notes }} <br />
		Lab Results: {{ labresults.lab_notes }} <br />
		Conditions: {{ conditions.condition_notes }} <br />
		Allergies: {{ allergies.allergy_notes }} <br />
		
		<h3>Current Medications:</h3>
		{% for i in medications %}
			<p>{{ medications.medication_name }}</p>
		{% endfor %}
	</div>
		
	<div style="float:right;">
		<h3>Last recorded vitals</h3>
	  	<p><b>Height:</b> {{ vitals.height_inches }}</p>
	   	<p><b>Weight:</b> {{ vitals.weight_pounds }}</p>
	    <p><b>BP:</b> {{ vitals.blood_pressure }}</p>
	    <p><b>Pulse:</b> {{ vitals.pulse }}</p>
	   	<a href="http://prohealthsys.com/site/resources/assessment/physical-assessment/vital-signs/vital_signs_table/">Table of normal vital ranges.</a>
	</div>

  </div>
</div>
{% endblock %}
