{% extends 'main/base.html' %}
{% block nav-labresults %} class="active"{% endblock %}

{% block content %}
<div class="container">
  <div class="well well-lg clearfix">
    <h1>Welcome to your {{ page_name }} page, {{ patient.first_name }} </h1>
    <div id="diagnosticsresults_info">
        {% if diagnosticresults %}
            <h3>Your diagnostic results are:</h3>
            {% for i in diagnosticresults reversed %}
                <ul>
                    <li><b>Lab Name:</b> {{ i.lab_title }}
                    <li><b>Date of Lab:</b> {{ i.lab_date }}
                    <li><b>Description of Lab:</b> {{ i.lab_description }}
                    <p>Patient notes: {{ i.lab_notes }}
                </ul>
                <form class="form-horizontal" role="form" action="{% url 'patient:diagnosticresults' patient.id %}" method='post'>
                      {% csrf_token %}
                      <div class="form-group">
                        <textarea class="form-control" name="lab_notes" placeholder="enter new notes here" textarea></textarea>
                        <input type="hidden" name="lab_id" value='{{ i.id }}' />
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn btn-default">Submit</button>
                      </div>
                </form>
            {% endfor %}
        {% else %}
            <p>You currently have no medical history on file.</p>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}

