{% extends 'main/base.html' %}
{% block nav-labresults %} class="active"{% endblock %}
{% block title %}
<TITLE>{{ page_name }}</TITLE>
{% endblock %} {% block content %}
<div class="container">
  <div class="well well-lg clearfix">
    <h1>This is the {{ page_name }} page</h1>
    <p>Hello, This page is EMPTY!!!! Except of course but this text, WOOT!!!</p>
    <h2>Sample of how to use the data from the objects</h2>
    <p>{{ labresults.id }}</p>
    <p>{{ labresults.lab_title }}</p>
    <p>{{ labresults.lab_date }}</p>
    <p>{{ labresults.lab_description }}</p>
    <p>{{ labresults.lab_notes }}</p>

    <h2>Patient info</h2>
    <p>{{ patient.email }}</p>
    <p>{{ patient.first_name }}</p>
    <p>{{ patient.last_name }}</p>
    <p>{{ patient.phone_num }}</p>
    <p>{{ patient.street_address }}</p>
    <p>{{ patient.city }}</p>
    <p>{{ patient.state }}</p>
    <p>{{ patient.zip_code }}</p>
    <p>{{ patient.date_of_birth }}</p>
    <p>{{ patient.ssn }}</p>
    <p>{{ patient.is_active }}</p>
    <p>{{ patient.is_staff }}</p>
    <p>{{ patient.is_admin }}</p>
  </div>
</div>
{% endblock %}
