{% extends 'main/base.html' %}

<h1>{{ title }}</h1>

{% block nav %}{% endblock %}

{% block content %}
<div class="header">
  <div class="container">
    <form action="" method="post">{% csrf_token %}
      <div>
      {% if form.errors %}
          <p class="errornote">
          {% if form.errors.items|length == 1 %}
            Please correct the error below.
          {% else %}
            Please correct the errors below.
          {% endif %}
          </p>
      {% endif %}

        <br />
        <br />
        <br />


        <fieldset class="module aligned wide">

        <div class="form-row">
            {{ form.old_password.errors }}
            {{ form.old_password.label_tag }} {{ form.old_password }}
        </div>

        <div class="form-row">
            {{ form.new_password1.errors }}
            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
        </div>

        <div class="form-row">
        {{ form.new_password2.errors }}
            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        </div>

        </fieldset>

      <div class="submit-row">
          <input type="submit" value="Change my password" class="default" />
      </div>

      <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
      </div>
    </form>
  </div>
</div>

{% endblock %}
