{% extends 'main/base.html' %}
{% block nav-vitals %} class="active"{% endblock %}

{% block content %}
<div class="container">
  <div class="well well-lg clearfix">
    <h1>Welcome to your {{ page_name }} page {{ patient.first_name }} </h1>
    
    <h3>Your last recorded data is below:</h3>
    <ul>
    	<li><b>Height:</b> {{ vitals.height_inches }} inches
    	<li><b>Weight:</b> {{ vitals.weight_pounds }} pounds
    	<li><b>Blood Pressure:</b> {{ vitals.blood_pressure }}
    	<li><b>Pulse:</b> {{ vitals.pulse }} beats per minute - A resting pulse of 60 to 80 is ideal.
    </ul>
    
    <p>Notes: {{ vitals.vitals_notes }}
  </div>
</div>
{% endblock %}
