/*
.nav li {
    display: inline;
    padding-left: 5px;
}
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

*/
#login-left {
  float: left;
}

#login-right {
  float: right;
}

.forget {
font-size: 13px;
text-align: center;
display: block;
}

.login-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#fullBg  {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  background-image: url('/static/img/login-bg.jpg');
  background-size: cover;

}

.btn-custom {
  background-color: #1fa67b;
}


input[type="text"] {
  margin-bottom: -1px;
   border-top: 1px solid transparent;
   border-right: 1px solid transparent;
   border-left: 1px solid transparent;
   box-shadow: none;
  border-radius: 3px 3px 0px 0px;

    &:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    }
}

input[type="password"] {
  z-index: 2;
  margin-bottom: 20px;
  border-top: none;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 0px 0px 3px 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);

    &:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0px 1px 0px 0px rgba(255,255,255,0.5);
    }
}

.form-signin-heading {
  text-align: center;
  font-weight: bold;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
  color: #fff;
  margin-bottom: 20px;
}

.btn {
  font-weight: bold;
  border-radius: 3px;
  border: none;
}

.well {
  background: rgba(245, 245, 245, 0.7);
}
