{% extends 'main/base.html' %}

{% block nav%}{% endblock %}

{% block content %}
<div id="fullBg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="well well-lg clearfix">
          <h3>Welcome to "Franklin14" The Electronic Medical Record</h3>
        </div>
      </div>
      <div class="col-md-4 col-lg-4"></div>
      <div class="col-md-4 col-lg-4">
        {% if errMsg %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          {{ errMsg }}
          </div>
        {% endif %}
        <h2 class="form-signin-heading">Please Login</h2>
        <form class="form-signin" role="form" action="{% url 'login' %}" method="post">
          {% csrf_token %}
          {% if next %}
            <input type="hidden" class="form-control" name="next" value="{{ next }}" />
          {% endif %}
          <input type="text" class="form-control" name="username" placeholder="Email" value="{{ username }}" />
          <input type="password" class="form-control" name="password" placeholder="Password" value="" />

          <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        </form>
      </div>
      <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
          <!-- center buffer div -->
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="well well-lg clearfix">
          <h4>Login with the username and password provided and have
            access to view your:
          </h4>
          <ul class="login-list">
            <li>History</li>
            <li>Appointments</li>
            <li>Allergies</li>
            <li>Medical History</li>
            <li>Insurance</li>
            <li>Lab Results</li>
            <li>Medications</li>
            <li>Vitals</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
